/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Seção de Promoções */
#promo {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}

